.flows_text {
  font-family: var(--flows-font-family);
  margin: 0;
}

.flows_text_body {
  font-size: var(--flows-base-font-size);
  line-height: var(--flows-base-line-height);
}

.flows_text_title {
  font-size: var(--flows-title-font-size);
  line-height: var(--flows-title-line-height);
  font-weight: var(--flows-title-font-weight);
}
