:root {
  --flows-background: #ffffff;
  --flows-background-subtle: #f5f5f5;
  --flows-background-hover: #ececec;
  --flows-text: #222222;
  --flows-text-on-primary: #ffffff;
  --flows-primary: #ec6441;
  --flows-primary-hover: #d44121;

  --flows-border: 1px solid #cccccc;
  --flows-shadow: 0px 8px 12px rgba(28, 26, 39, 0.08), 0px 6px 8px rgba(28, 26, 39, 0.12),
    0px 0px 1px rgba(28, 26, 39, 0.16);
  --flows-borderRadius: 8px;

  --flows-tooltip-padding: 16px;
  --flows-toltip-maxWidth: 280px;

  --flows-modal-overlayBackground: rgba(0, 0, 0, 0.5);
  --flows-modal-padding: 16px;
  --flows-modal-minWidth: 300px;
  --flows-model-maxWidth: 600px;

  --flows-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
  --flows-base-font-size: 14px;
  --flows-base-line-height: 20px;

  --flows-heading-font-size: 16px;
  --flows-heading-line-height: 24px;
  --flows-heading-font-weight: 600;
}

/* Shared styles */

.flows-root {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1500;
}
.flows-header {
  display: flex;
  padding-right: 28px;
}
.flows-title {
  font-family: var(--flows-font-family);
  font-size: var(--flows-heading-font-size);
  line-height: var(--flows-heading-line-height);
  font-weight: var(--flows-heading-font-weight);
  margin: 0;
}

.flows-body {
  margin-top: 12px;
  margin-bottom: 12px;

  font-family: var(--flows-font-family);
  font-size: var(--flows-base-font-size);
  line-height: var(--flows-base-line-height);
}

.flows-button {
  background-color: var(--flows-background-subtle);
  border: var(--flows-border);
  color: var(--flows-text);
  border-radius: calc(var(--flows-borderRadius) - 2px);
  padding: 4px 8px;
  font-family: var(--flows-font-family);
  font-size: var(--flows-base-font-size);
  line-height: var(--flows-base-line-height);
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 120ms ease-in-out,
    border-color 120ms ease-in-out;
}
.flows-button svg {
  pointer-events: none;
}
.flows-button:hover {
  background-color: var(--flows-background-hover);
}

.flows-continue,
.flows-option {
  background-color: var(--flows-primary);
  border: 1px solid var(--flows-primary);
  color: var(--flows-text-on-primary);
}

.flows-continue:hover,
.flows-option:hover {
  background-color: var(--flows-primary-hover);
  border: 1px solid var(--flows-primary-hover);
}

.flows-finish {
  background-color: var(--flows-primary);
  border: 1px solid var(--flows-primary);
  color: var(--flows-text-on-primary);
}

.flows-finish:hover {
  background-color: var(--flows-primary-hover);
  border: 1px solid var(--flows-primary-hover);
}

.flows-cancel {
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  display: grid;
  place-items: center;
  color: var(--flows-text);
  padding: 0;
}

/* Tooltip styles */

.flows-tooltip {
  background-color: var(--flows-background);
  border: var(--flows-border);
  color: var(--flows-text);
  border-radius: var(--flows-borderRadius);
  position: absolute;
  padding: var(--flows-tooltip-padding);
  box-shadow: var(--flows-shadow);

  font-family: var(--flows-font-family);
  font-size: var(--flows-base-font-size);
  line-height: var(--flows-base-line-height);

  max-width: var(--flows-toltip-maxWidth);
}
.flows-tooltip .flows-cancel {
  top: var(--flows-tooltip-padding);
  right: var(--flows-tooltip-padding);
}

.flows-tooltip-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
  gap: 8px;
}
.flows-back-wrap {
  flex: 1;
}
.flows-arrow {
  position: absolute;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  border-radius: 2px;
}
.flows-arrow-bottom {
  border: var(--flows-border);
  z-index: -1;
  box-shadow: var(--flows-shadow);
}
.flows-arrow-top {
  background-color: var(--flows-background);
  border: var(--flows-border);
  border-color: transparent;
  background-clip: padding-box;
}

/* Modal styles */

.flows-modal-overlay {
  background-color: var(--flows-modal-overlayBackground);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.flows-modal {
  background-color: var(--flows-background);
  border: var(--flows-border);
  color: var(--flows-text);
  border-radius: var(--flows-borderRadius);
  box-shadow: var(--flows-shadow);
  padding: var(--flows-modal-padding);
  min-width: var(--flows-modal-minWidth);
  max-width: var(--flows-model-maxWidth);
  position: relative;
}
.flows-modal .flows-cancel {
  top: var(--flows-tooltip-padding);
  right: var(--flows-tooltip-padding);
}

.flows-modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  gap: 8px;
}
