:root {
  --flows-panel-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --flows-panel-shadow: 0px 0px 12px rgba(28, 26, 39, 0.08), 0px 0px 8px rgba(28, 26, 39, 0.12),
    0px 0px 1px rgba(28, 26, 39, 0.16);
  --flows-panel-bg: #fff;
  --flows-panel-bg-muted: #f9fafc;
  --flows-panel-bg-hover: #eeeeee;
  --flows-panel-border-color: #d1d5db;
  --flows-panel-highlight: #f95260;
  --flows-panel-text: #15181c;
  --flows-panel-border: 1px solid var(--flows-panel-border-color);
  --flows-panel-transition: 120ms ease-in-out;
}

.flows-preview-panel,
.flows-preview-panel > *,
.flows-preview-panel > * > * {
  box-sizing: border-box;
  margin: 0;
}
.flows-preview-panel {
  font-size: 14px;
  line-height: 20px;
  margin-block: 0;
  font-family: var(--flows-panel-font-family);
  position: fixed;
  z-index: 10000;
  background: var(--flows-panel-bg);
  padding: 8px 12px;
  width: 100%;
  box-shadow: var(--flows-panel-shadow);
  display: flex;
  gap: 8px;
}
.flows-panel-main {
  flex: 1;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flows-panel-main > * > code {
  font-family: monospace;
  font-size: 12px;
  line-height: 16px;
}
.flows-panel-buttons {
  display: flex;
  gap: 8px;
}
.flows-panel-top {
  top: 0;
  border-bottom: 3px solid var(--flows-panel-highlight);
}
.flows-panel-bottom {
  bottom: 0;
  border-top: 3px solid var(--flows-panel-highlight);
}
.flows-arrow-up {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath d='M3.47 7.78a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0l4.25 4.25a.751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018L9 4.81v7.44a.75.75 0 0 1-1.5 0V4.81L4.53 7.78a.75.75 0 0 1-1.06 0Z'%3E%3C/path%3E%3C/svg%3E");
}
.flows-arrow-down {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath d='M13.03 8.22a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L3.47 9.28a.751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018l2.97 2.97V3.75a.75.75 0 0 1 1.5 0v7.44l2.97-2.97a.75.75 0 0 1 1.06 0Z'%3E%3C/path%3E%3C/svg%3E");
}
.flows-x {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath d='M3.72 3.72a.75.75 0 0 1 1.06 0L8 6.94l3.22-3.22a.749.749 0 0 1 1.275.326.749.749 0 0 1-.215.734L9.06 8l3.22 3.22a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L8 9.06l-3.22 3.22a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042L6.94 8 3.72 4.78a.75.75 0 0 1 0-1.06Z'%3E%3C/path%3E%3C/svg%3E");
}

.flows-panel-btn {
  appearance: none;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 4px 8px;
  text-decoration: none;
  transition: var(--flows-panel-transition);

  color: var(--flows-panel-text);
  background: var(--flows-panel-bg-muted);
  border: var(--flows-panel-border);
}
.flows-panel-btn > * {
  pointer-events: none;
}
.flows-panel-btn:hover {
  background: var(--flows-panel-bg-hover);
}
.flows-panel-btn:active {
  background: var(--flows-panel-bg-muted);
}
.flows-panel-btn-icon {
  padding: 0;
  width: 30px;
  height: 30px;
}
