/* Shared styles */

.flows-root {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1500;
}
.flows-header {
  display: flex;
  padding-right: 28px;
}
.flows-title {
  font-family: var(--flows-font-family);
  font-size: var(--flows-heading-font-size);
  line-height: var(--flows-heading-line-height);
  font-weight: var(--flows-heading-font-weight);
  margin: 0;
}

.flows-body {
  margin-top: 12px;
  margin-bottom: 12px;

  font-family: var(--flows-font-family);
  font-size: var(--flows-base-font-size);
  line-height: var(--flows-base-line-height);
}

.flows-footer {
  display: flex;
  align-items: flex-start;
  margin-top: 12px;
  gap: 8px;
}
.flows-footer div {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.flows-footer div:nth-child(2) {
  flex: 1;
  justify-content: center;
}
.flows-footer div:last-child {
  justify-content: flex-end;
}

.flows-button {
  background-color: var(--flows-background-subtle);
  border: var(--flows-border);
  color: var(--flows-text);
  border-radius: calc(var(--flows-borderRadius) - 2px);
  padding: 4px 8px;
  font-family: var(--flows-font-family);
  font-size: var(--flows-base-font-size);
  line-height: var(--flows-base-line-height);
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 120ms ease-in-out,
    border-color 120ms ease-in-out;
}
.flows-button svg {
  pointer-events: none;
}
.flows-button:hover {
  background-color: var(--flows-background-hover);
}

.flows-continue,
.flows-option {
  background-color: var(--flows-primary);
  border: 1px solid var(--flows-primary);
  color: var(--flows-text-on-primary);
}

.flows-continue:hover,
.flows-option:hover {
  background-color: var(--flows-primary-hover);
  border: 1px solid var(--flows-primary-hover);
}

.flows-finish {
  background-color: var(--flows-primary);
  border: 1px solid var(--flows-primary);
  color: var(--flows-text-on-primary);
}

.flows-finish:hover {
  background-color: var(--flows-primary-hover);
  border: 1px solid var(--flows-primary-hover);
}

.flows-cancel {
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}
.flows-cancel:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px' viewBox='0 0 16 16'%3e%3cpath fill='currentColor' d='M3.72 3.72a.75.75 0 0 1 1.06 0L8 6.94l3.22-3.22a.749.749 0 0 1 1.275.326.749.749 0 0 1-.215.734L9.06 8l3.22 3.22a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L8 9.06l-3.22 3.22a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042L6.94 8 3.72 4.78a.75.75 0 0 1 0-1.06Z' /%3e%3c/svg%3e")
    50%;
  mask: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px' viewBox='0 0 16 16'%3e%3cpath fill='currentColor' d='M3.72 3.72a.75.75 0 0 1 1.06 0L8 6.94l3.22-3.22a.749.749 0 0 1 1.275.326.749.749 0 0 1-.215.734L9.06 8l3.22 3.22a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L8 9.06l-3.22 3.22a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042L6.94 8 3.72 4.78a.75.75 0 0 1 0-1.06Z' /%3e%3c/svg%3e")
    50%;
  background-color: var(--flows-text);
}
.flows-overlay-cancel {
  cursor: pointer;
}

/* Tooltip styles */

.flows-tooltip {
  background-color: var(--flows-background);
  border: var(--flows-border);
  color: var(--flows-text);
  border-radius: var(--flows-borderRadius);
  position: absolute;
  padding: var(--flows-tooltip-padding);
  box-shadow: var(--flows-shadow);

  font-family: var(--flows-font-family);
  font-size: var(--flows-base-font-size);
  line-height: var(--flows-base-line-height);

  max-width: var(--flows-toltip-maxWidth);
}
.flows-tooltip-overlay {
  position: fixed;
  pointer-events: none;
}
.flows-tooltip-overlay:after {
  content: "";
  position: absolute;
  inset: 0;
  margin: calc(var(--flows-tooltip-overlayPadding) * -1);
  box-shadow: var(--flows-tooltip-overlayBackground) 0px 0px 0px 9999px;
  border-radius: var(--flows-tooltip-overlayBorderRadius);
}
.flows-target {
  z-index: 5000;
}
.flows-tooltip-overlay-click-layer {
  position: fixed;
  inset: 0;
}
.flows-tooltip .flows-cancel {
  top: var(--flows-tooltip-padding);
  right: var(--flows-tooltip-padding);
}

.flows-back-wrap {
  flex: 1;
}
.flows-arrow {
  position: absolute;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-radius: 2px;
}
.flows-arrow-bottom {
  border: var(--flows-border);
  z-index: -1;
  box-shadow: var(--flows-shadow);
}
.flows-arrow-top {
  background-color: var(--flows-background);
  border: var(--flows-border);
  border-color: rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

/* Modal styles */

.flows-modal-overlay {
  background-color: var(--flows-modal-overlayBackground);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.flows-modal {
  background-color: var(--flows-background);
  border: var(--flows-border);
  color: var(--flows-text);
  border-radius: var(--flows-borderRadius);
  box-shadow: var(--flows-shadow);
  padding: var(--flows-modal-padding);
  min-width: var(--flows-modal-minWidth);
  max-width: var(--flows-model-maxWidth);
  position: relative;
}
.flows-modal .flows-cancel {
  top: var(--flows-tooltip-padding);
  right: var(--flows-tooltip-padding);
}
