:root {
  /* Colors */
  --flows-bg-default: #ffffff;
  --flows-bg-subtle: #f9fafc;
  --flows-bg-hover: #ebeef3;
  --flows-bg-primary: #067efd;
  --flows-bg-primary-hover: #3a90ff;
  --flows-bg-overlay: rgba(21, 24, 28, 0.5);

  --flows-fg-default: #15181c;
  --flows-fg-onPrimary: #ffffff;

  --flows-borderWidth: 1px;
  --flows-border: var(--flows-borderWidth) solid #dfe3e8;

  --flows-shadow: 0px 8px 12px rgba(28, 26, 39, 0.08), 0px 6px 8px rgba(28, 26, 39, 0.12),
    0px 0px 1px rgba(28, 26, 39, 0.16);

  /* Sizes */
  --flows-borderRadius-xSmall: 3px;
  --flows-borderRadius-small: 6px;
  --flows-borderRadius-medium: 8px;
  --flows-borderRadius-large: 12px;

  --flows-size-xSmall: 4px;
  --flows-size-small: 8px;
  --flows-size-medium: 12px;
  --flows-size-large: 20px;

  /* Typography */
  --flows-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;

  --flows-base-font-size: 14px;
  --flows-base-line-height: 20px;

  --flows-title-font-size: 16px;
  --flows-title-line-height: 24px;
  --flows-title-font-weight: 600;

  /* Elements */
  --flows-zIndex: 1500;
  --flows-target-zIndex: 5000;

  --flows-tooltip-padding: var(--flows-size-large);
  --flows-tooltip-overlayBackground: var(--flows-bg-overlay);
  --flows-tooltip-overlayBorderRadius: var(--flows-borderRadius-medium);
  --flows-tooltip-overlayPadding: 4px;
  --flows-tooltip-minWidth: 200px;
  --flows-tooltip-maxWidth: 320px;

  --flows-modal-overlayBackground: var(--flows-bg-overlay);
  --flows-modal-padding: var(--flows-size-large);
  --flows-modal-minWidth: 320px;
  --flows-modal-maxWidth: 640px;

  --flows-banner-padding: var(--flows-size-large);
  --flows-banner-minWidth: 200px;
  --flows-banner-maxWidth: 320px;
}

/* Dark mode */
.dark {
  --flows-bg-default: #15181c;
  --flows-bg-subtle: #1c2026;
  --flows-bg-hover: #22262d;
  --flows-bg-primary: #468ff1;
  --flows-bg-primary-hover: #357ddb;
  --flows-bg-overlay: rgba(0, 0, 0, 0.6);

  --flows-fg-default: #f9fafc;
  --flows-fg-onPrimary: #15181c;

  --flows-border: 1px solid #353c46;

  --flows-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2), 0px 6px 8px rgba(0, 0, 0, 0.25),
    0px 0px 1px rgba(0, 0, 0, 0.3);
}
