:root {
  /* Colors */
  --flows-bg-default: #ffffff;
  --flows-bg-subtle: #f5f5f5;
  --flows-bg-hover: #ececec;
  --flows-bg-primary: #ec6441;
  --flows-bg-primary-hover: #d44121;
  --flows-bg-overlay: rgba(0, 0, 0, 0.5);

  --flows-fg-default: #222222;
  --flows-fg-onPrimary: #ffffff;

  --flows-border: 1px solid #cccccc;

  --flows-shadow: 0px 8px 12px rgba(28, 26, 39, 0.08), 0px 6px 8px rgba(28, 26, 39, 0.12),
    0px 0px 1px rgba(28, 26, 39, 0.16);

  /* Sizes */
  --flows-borderRadius-xSmall: 3px;
  --flows-borderRadius-small: 6px;
  --flows-borderRadius-medium: 8px;
  --flows-borderRadius-large: 12px;

  --flows-size-xSmall: 4px;
  --flows-size-small: 8px;
  --flows-size-medium: 12px;
  --flows-size-large: 20px;

  /* Typography */
  --flows-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;

  --flows-base-font-size: 14px;
  --flows-base-line-height: 20px;

  --flows-title-font-size: 16px;
  --flows-title-line-height: 24px;
  --flows-title-font-weight: 600;

  /* Elements */
  --flows-tooltip-padding: var(--flows-size-large);
  --flows-tooltip-overlayBackground: var(--flows-bg-overlay);
  --flows-tooltip-overlayBorderRadius: var(--flows-borderRadius-medium);
  --flows-tooltip-overlayPadding: 4px;
  --flows-tooltip-minWidth: 200px;
  --flows-tooltip-maxWidth: 320px;

  --flows-modal-overlayBackground: var(--flows-bg-overlay);
  --flows-modal-padding: var(--flows-size-large);
  --flows-modal-minWidth: 320px;
  --flows-model-maxWidth: 640px;
}

/* Dark mode */
.dark {
  --flows-bg-default: #181818;
  --flows-bg-subtle: #1f1f1f;
  --flows-bg-hover: #262626;
  --flows-bg-primary: #e46a49;
  --flows-bg-primary-hover: #d35131;
  --flows-bg-overlay: rgba(0, 0, 0, 0.4);

  --flows-fg-default: #fafafa;
  --flows-fg-onPrimary: #181818;

  --flows-border: 1px solid #3b3b3b;

  --flows-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2), 0px 6px 8px rgba(0, 0, 0, 0.25),
    0px 0px 1px rgba(0, 0, 0, 0.3);
}
