:root {
  --flows-background: #ffffff;
  --flows-background-subtle: #f5f5f5;
  --flows-background-hover: #ececec;
  --flows-text: #222222;
  --flows-text-on-primary: #ffffff;
  --flows-primary: #ec6441;
  --flows-primary-hover: #d44121;

  --flows-border: 1px solid #cccccc;
  --flows-shadow: 0px 8px 12px rgba(28, 26, 39, 0.08), 0px 6px 8px rgba(28, 26, 39, 0.12),
    0px 0px 1px rgba(28, 26, 39, 0.16);
  --flows-borderRadius: 8px;

  --flows-tooltip-padding: 16px;
  --flows-tooltip-overlayBackground: rgba(0, 0, 0, 0.5);
  --flows-tooltip-overlayBorderRadius: 8px;
  --flows-tooltip-overlayPadding: 4px;
  --flows-toltip-maxWidth: 280px;

  --flows-modal-overlayBackground: rgba(0, 0, 0, 0.5);
  --flows-modal-padding: 16px;
  --flows-modal-minWidth: 300px;
  --flows-model-maxWidth: 600px;

  --flows-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
  --flows-base-font-size: 14px;
  --flows-base-line-height: 20px;

  --flows-heading-font-size: 16px;
  --flows-heading-line-height: 24px;
  --flows-heading-font-weight: 600;
}
