name: Create GitHub Release

on:
  push:
    tags:
      - "@flows/**"

permissions:
  contents: write

jobs:
  gh-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: false
          prerelease: ${{ contains(github.ref, 'canary') }}
